# Python related
__pycache__
*.py[cod]
*.pyo
*.egg-info/
*.egg
*.log
*.pot
*.pyc


# Django related
*.log
*.pot
*.db
db.sqlite3
media/  # if you are using this folder for uploaded files

# Virtual environment
myvenv/
venv/
ENV/
.env

# Database
db.sqlite3
*.sqlite3

# IDEs and text editors
*.swp
*.swo
*.swn
*.idea/
*.vscode/


# OS generated
.DS_Store
Thumbs.db

# Other
*.bak
client_secret.json
student/utils/token.json
token.json
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Static folder at project root
/static/


# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace